<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"	
	>
	
<h:head>
	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/css/estilo.css" />	
	
</h:head>
<h:body styleClass="w3-black">
	
		<p:dock position="bottom">
			<p:menuitem value="Home" icon="/images/home.png" url="index.xhtml"/>
   	 		<p:menuitem value="Banda" icon="/images/banda.png" url="lst-banda.xhtml"/>  	 		    
   	 		<p:menuitem value="Repertorio" icon="/images/lista.png" url="lst-repertorio.xhtml"/>
   	 		<p:menuitem value="Música" icon="/images/musica.png" url="lst-musica.xhtml"/>
		</p:dock>
	
</h:body>
</html>