<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"	
	>
	
<h:head>
	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/css/estilo.css" />	
	<title>Zenus</title>
</h:head>
<h:body styleClass="w3-black">
	<center>

		<h:form>
			<p:growl id="messages" />

			<p:menubar>
				
				<p:submenu label="Seleção" icon="ui-icon-document">
					
					<p:menuitem value="Bandas" icon="ui-icon-pencil"
						url="lst-banda.xhtml" />
					<p:menuitem value="Ensaios" icon="ui-icon-pencil"
						url="lst-ensaio.xhtml" />
					<p:menuitem value="Repertório" icon="ui-icon-pencil"
						url="lst-repertorio.xhtml" />
					
					<p:menuitem value="Musicas" icon="ui-icon-pencil"
						url="lst-musica.xhtml" />
					<p:menuitem value="Musicos" icon="ui-icon-pencil"
						url="lst-musico.xhtml" />
					
				</p:submenu>


				<p:submenu label="Classificação" icon="ui-icon-document">
					<p:menuitem value="Repertorio" icon="ui-icon-pencil"
						url="repertorio.xhtml" />


				</p:submenu>


				<p:submenu label="Configuração" icon="ui-icon-document">
					<p:menuitem value="Sair" icon="ui-icon-pencil"
						url="classificacao-musica.xhtml" />
				</p:submenu>


				<f:facet name="options">
					<p:commandButton type="button" value="Sair" icon="ui-icon-extlink" />
				</f:facet>
			</p:menubar>
		</h:form>
		
	</center>	
	<ui:include src="/menu/menu-principal.xhtml"></ui:include>
	
	
</h:body>
</html>