<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Zenus - Lista de Bandas</title>
</h:head>
<h:body>

	<h:form id="formExibir">

		<p:growl id="growl" autoUpdate="true" life="2000" />

		<p:dataTable id="tblBandas" var="banda"
			filteredValue="#{bandaBean.filteredBandas}"
			value="#{bandaBean.bandas}" rows="20" paginator="true"
			widgetVar="bandasTable" scrollable="true" styleClass="paginated"
			emptyMessage="Nenhuma banda encontrada com os critérios selecionados"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">



			<f:facet name="header">
				<p:outputPanel>
					<h:outputText value="Bandas:" />
				</p:outputPanel>

			</f:facet>

			<p:column filterBy="#{banda.nome}" headerText="Nome da Banda"
				style="width:100px" filterMatchMode="contains"
				filterStyle="width:100px" width="100px">
				<h:outputText value="#{banda.nome}" style="display:inline-block" />

				<p:commandLink update=":form:bandaDetail"
					oncomplete="PF('bandaDialog').show()" title="Detalhar"
					styleClass="ui-icon ui-icon-search"
					style="float:left;margin-right:10px">
					<f:setPropertyActionListener value="#{banda}"
						target="#{bandaBean.banda}" />

				</p:commandLink>

			</p:column>



			<p:column filterBy="#{banda.telefone}" headerText="Telefone"
				filterMatchMode="contains" filterStyle="width:100px"
				style="width:100px" width="100px">
				<h:outputText value="#{banda.telefone}" />
			</p:column>

			<p:column filterBy="#{banda.email}" headerText="Email"
				filterMatchMode="contains" filterStyle="width:100px"
				style="width:100px" width="100px">
				<h:outputText value="#{banda.email}" />
			</p:column>

			<p:column headerText="Excluir" style="width:50px" width="50px">

				<p:commandLink title="Excluir" update=":formExcluir:Excluir"
					oncomplete="PF('confirmation').show()" immediate="true">
					<p:graphicImage value="./images/del.png" width="25px"
						style="padding-left:10px" />
					<f:setPropertyActionListener value="#{banda}"
						target="#{bandaBean.banda}" />
				</p:commandLink>


			</p:column>

		</p:dataTable>
		<br />


	</h:form>


	<h:form id="form">
		<p:dialog header="Informação da Banda" widgetVar="bandaDialog"
			modal="true" hideEffect="explode" showEffect="bounce"
			closeOnEscape="true" maximizable="true" id="dialogCadastrar"
			resizable="true">
			<p:outputPanel id="bandaDetail" style="text-align:center;">
				<p:panelGrid columns="3" columnClasses="label,value">
					<f:facet name="header">

					</f:facet>

					<p:outputLabel value="Nome: *" />
					<p:inputText id="nome" value="#{bandaBean.banda.nome}" size="30"
						required="true" requiredMessage="O campo Nome é obrigatório" />
					<p:message for="nome" />

					<p:outputLabel value="Telefone: *" />
					<p:inputText id="fone" value="#{bandaBean.banda.telefone}"
						size="30" />
					<p:message for="fone" />

					<p:outputLabel value="Email: *" />
					<p:inputText id="email" value="#{bandaBean.banda.email}" size="30" />
					<p:message for="email" />


					<p:growl id="messages" />

					<p:splitButton value="Save" actionListener="#{bandaBean.salvar}"
						update="messages, formExibir" icon="ui-icon-disk">
						<p:separator />
						<p:menuitem value="Home" url="index.xhtml" icon="ui-icon-extlink" />
					</p:splitButton>
					<p:outputLabel value="" />

				</p:panelGrid>

			</p:outputPanel>

		</p:dialog>

	</h:form>



	<h:form id="formExcluir">

		<p:confirmDialog id="Excluir" closeOnEscape="true"
			message="Confirma exclusão da banda #{bandaBean.banda.nome}?"
			header="Excluir" severity="alert" widgetVar="confirmation">

			<p:commandButton value="Sim" type="submit"
				styleClass="ui-confirmdialog-yes" icon="ui-icon-check"
				actionListener="#{bandaBean.excluir}"
				onclick="PF('confirmation').hide()" update=":formExibir:tblBandas"
				immediate="true" />

			<p:commandButton value="Não" type="button"
				styleClass="ui-confirmdialog-no" icon="ui-icon-close"
				onclick="PF('confirmation').hide()" />

		</p:confirmDialog>
	</h:form>

	<div style="width: 40px; float: right; align: right">
		<h:form id="formNovo">
			<center>
				<p:commandLink update=":form:bandaDetail"
					oncomplete="PF('bandaDialog').show()"
					styleClass="ui-icon-circle-plus" title="Novo"
					style="float:left;margin-right:10px;"
					actionListener="#{bandaBean.novo}">
					<p:graphicImage value="./images/cadastro.png" width="25px"
						style="padding-left:10px" />

				</p:commandLink>





			</center>
		</h:form>
		<ui:include src="/menu/menu-principal.xhtml"></ui:include>
	</div>
</h:body>
</html>