<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Zenus - Lista de Músicas</title>
</h:head>
<h:body>


	<h:form id="formExibir">

		<p:growl id="growl" autoUpdate="true" life="2000" />

		<p:dataTable id="tblMusicas" var="musica"
			filteredValue="#{musicaBean.filteredMusicas}"
			value="#{musicaBean.musicas}" rows="20" paginator="true"
			widgetVar="musicasTable" scrollable="true" styleClass="paginated"
			emptyMessage="Nenhuma música encontrada com os critérios selecionados"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">



			<f:facet name="header">
				<p:outputPanel>
					<h:outputText value="Músicas:" />
				</p:outputPanel>

			</f:facet>

			<p:column filterBy="#{musica.nome}" headerText="Nome da Música"
				style="width:100px" filterMatchMode="contains"
				filterStyle="width:100px" width="100px">
				<h:outputText value="#{musica.nome}" style="display:inline-block" />

				<p:commandLink update=":form:musicaDetail"
					oncomplete="PF('musicaDialog').show()" title="Detalhar"
					styleClass="ui-icon ui-icon-search"
					style="float:left;margin-right:10px">
					<f:setPropertyActionListener value="#{musica}"
						target="#{musicaBean.musica}" />

				</p:commandLink>

			</p:column>

			<p:column headerText="Tonalidade" filterBy="#{musica.tom}"
				style="width:100px" filterStyle="width:30px" width="30px">

				<f:facet name="filter">
					<p:selectOneMenu label="Tom" onchange="PF('musicasTable').filter()"
						panelStyle="width:20px" scrollHeight="15">
						<f:selectItem noSelectionOption="true" />

						<f:selectItems value="#{musicaBean.filteredTom}" />
					</p:selectOneMenu>
				</f:facet>
				<h:outputText value="#{musica.tom}" />
			</p:column>

			<p:column filterBy="#{musica.artista}" headerText="Artista"
				filterMatchMode="contains" filterStyle="width:100px"
				style="width:100px" width="100px">
				<h:outputText value="#{musica.artista}" />
			</p:column>

			<p:column headerText="Observação" style="width:400px" width="400px">

				<h:outputText value="#{musica.observacao}" />
			</p:column>




			<p:column headerText="Excluir" style="width:50px" width="50px">

				<p:commandLink title="Excluir" update=":formExcluir:Excluir"
					oncomplete="PF('confirmation').show()" immediate="true">
					<p:graphicImage value="./images/del.png" width="25px"
						style="padding-left:10px" />
					<f:setPropertyActionListener value="#{musica}"
						target="#{musicaBean.musica}" />
				</p:commandLink>


			</p:column>

		</p:dataTable>
		<br />


	</h:form>


	<h:form id="form">
		<p:dialog header="Informação da Música" widgetVar="musicaDialog"
			modal="true" hideEffect="explode" showEffect="bounce"
			closeOnEscape="true" maximizable="true" id="dialogCadastrar"
			resizable="true">
			<p:outputPanel id="musicaDetail" style="text-align:center;">
				<p:panelGrid columns="3" columnClasses="label,value">
					<f:facet name="header">

					</f:facet>

					<p:outputLabel value="Nome: *" />
					<p:inputText id="nome" value="#{musicaBean.musica.nome}" size="30"
						required="true" requiredMessage="O campo Nome é obrigatório" />
					<p:message for="nome" />

					<p:outputLabel value="Tom: *" />
					<p:selectOneMenu id="cmbTom" value="#{musicaBean.musica.tom}"
						label="Tom" panelStyle="width:125px" scrollHeight="30"
						required="true" requiredMessage="A seleção do tom é obrigatório">
						<f:selectItem itemLabel="Select One" itemValue="" />

						<f:selectItems value="#{musicaBean.filteredTom}" />
					</p:selectOneMenu>
					<p:message for="cmbTom" />

					<p:outputLabel value="Artista: *" />
					<p:inputText id="artista" value="#{musicaBean.musica.artista}"
						required="true" requiredMessage="O campo Artista é obrigatório" />
					<p:message for="artista" />

					<h:outputText value="Observação:" />
					<h:inputTextarea value="#{musicaBean.musica.observacao}" />



					<h:outputText value="" />
					<p:commandButton id="ajax" actionListener="#{musicaBean.salvar}"
						value="Salvar" update=":formExibir:tblMusicas"
						oncomplete="PF('confirmation').hide()" />

					<p:commandButton id="novo" actionListener="#{musicaBean.novo}"
						value="Limpar" update="musicaDetail" />
					<h:outputText value="" />

				</p:panelGrid>

			</p:outputPanel>

		</p:dialog>

	</h:form>

	<h:form id="formExcluir">

		<p:confirmDialog id="Excluir" closeOnEscape="true"
			message="Confirma exclusão da música #{musicaBean.musica.nome}?"
			header="Excluir" severity="alert" widgetVar="confirmation">

			<p:commandButton value="Sim" type="submit"
				styleClass="ui-confirmdialog-yes" icon="ui-icon-check"
				actionListener="#{musicaBean.excluir}"
				onclick="PF('confirmation').hide()" update=":formExibir:tblMusicas"
				immediate="true" />

			<p:commandButton value="Não" type="button"
				styleClass="ui-confirmdialog-no" icon="ui-icon-close"
				onclick="PF('confirmation').hide()" />

		</p:confirmDialog>
	</h:form>








	<div style="width: 40px; float: right; align: right">
		<h:form id="formNovo">
			<center>
				<p:commandLink update=":form:musicaDetail"
					oncomplete="PF('musicaDialog').show()"
					styleClass="ui-icon-circle-plus" title="Novo"
					style="float:left;margin-right:10px;"
					actionListener="#{musicaBean.novo}">
					<p:graphicImage value="./images/cadastro.png" width="25px"
						style="padding-left:10px" />

				</p:commandLink>

			</center>
		</h:form>
		<ui:include src="/menu/menu-principal.xhtml"></ui:include>
	</div>
</h:body>
</html>