<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Zenus - Repertório Musical</title>
</h:head>
<h:body>

<h:form id="form">

	<p:growl id="growl" autoUpdate="true" life="2000" />
	
	<p:dataGrid  var="banda" value="#{bandaBean.bandas}" columns="3" layout="grid"
        rows="12" paginator="true" id="viewBanda"
        paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
        rowsPerPageTemplate="6,12,16">
 
        <f:facet name="header">
            Selecionar Banda para Visualizar Repertório
        </f:facet>
 
        <p:panel header="#{banda.nome}" style="text-align:center">
            <h:panelGrid columns="1" style="width:100%">
                <p:graphicImage url="images/banda.png"/> 
 
                
 
                <p:commandLink update=":form:bandaDetail" oncomplete="PF('bandaDialog').show()" title="Detalhar">
                    <h:outputText styleClass="ui-icon ui-icon-search" style="margin:0 auto;" />
                    <f:setPropertyActionListener value="#{banda}" target="#{bandaBean.banda}" />
                </p:commandLink>
            </h:panelGrid>
        </p:panel>
 
    </p:dataGrid>
 
    <p:dialog header="Informação da Banda" widgetVar="bandaDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
        <p:outputPanel id="bandaDetail" style="text-align:center;">
            <p:panelGrid  columns="2" rendered="#{not empty bandaBean.banda.nome}" columnClasses="label,value">
                <f:facet name="header">
                    <p:graphicImage name="/images/banda.png"/> 
                </f:facet>
 
                <h:outputText value="Id:" />
                <h:outputText value="#{bandaBean.banda.id}" />
 
                <h:outputText value="Nome" />
                <h:outputText value="#{bandaBean.banda.nome}" />
 
 
 				<h3 style="margin-top: 0"><h:outputLabel value="Lista de Músicas" /> </h3>				
 				
 
    			<p:pickList id="pickList" value="#{bandaBean.musicas}" var="musica" itemLabel="#{musica}" itemValue="#{musica}" />
 
			    <p:commandButton id="submit" value="Salvar"  actionListener="#{bandaBean.salvar}" update="growl" style="margin-top:5px" />
			    
			    <p:splitButton value="Save" actionListener="#{bandaBean.salvar}"
						update="growl, viewBanda" icon="ui-icon-disk">
						<p:separator />
						<p:menuitem value="Home" url="index.xhtml" icon="ui-icon-extlink" />
					</p:splitButton>		 			    
    			               
            </p:panelGrid>
        </p:outputPanel>
    </p:dialog>
    
    
    

			<ui:include src="/menu/menu-principal.xhtml"></ui:include>
			
			

</h:form>
</h:body>
</html>